.btn {
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-base);
    transition: transform 0.3s;
}

.btn-default {
    color: var(--color-text-btn-secondary);
    border: 1px solid var(--primary-color);
    background-color: var(--background-primary);
    text-shadow: 0px 10px 40px rgba(25, 104, 252, 0);
    padding: 15px 22px;
}

.btn-primary {
    border: 1px solid var(--primary-color);
    color: var(--color-text-btn-secondary);
    background-color: var(--background-primary);
    padding: 14px 55px;
    text-shadow: 0px 10px 40px;
}

.btn-secondary {
    color: var(--color-text-btn-primary);
    border: 1px solid var(--secondary-color);
    background-color: var(--background-secondary);
    padding: 14px 64px;
    text-shadow: 4px 4px 20px;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.btn:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    animation: pulse 0.5s infinite;
}

.btn-secondary:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
}
