.mobile-show {
    display: block;
}

.desktop-none {
    display: none;
}

@media screen and (min-width: 1200px) {
    .mobile-none {
        display: none;
    }
    
    .desktop-show {
        display: block;
    }
}
