.heading {
    color: var(--color-heading);
    font-size: var(--font-size-3x);
    line-height: var(--line-height-lg);
    display: inline block;
}

.heading-title {
    color: var(--color-heading);
    line-height: var(--line-height-lg);
    font-weight: var(--font-weight-base);
    font-size: var(--font-size-heading-md);
    position: relative;
    text-transform: uppercase;
    margin-top: 120px;
}

.heading-title::after {
    border-bottom: 2px solid var(--primary-color);
    content: "";
    display: block;
    width: 80px;
    margin-top: 10px;
}

@media screen and (min-width: 1200px) {
    .heading-title::after{
        margin-left: -40px;
    }
}