.banner {
    display: flex;
}

.banner .heading::before {
    content: "";
    margin-bottom: 150px;
    display: block;
}

.banner .heading {
    line-height: var(--line-height-lg);
    font-size: var(--font-size-heading-lg);
    font-weight: var(--font-weight-semibold);
    width: 600px;
}

.banner .banner-content .headline-text {
    line-height: var(--line-height-md);
    font-size: var(--font-size-text-xl);
    font-weight: var(--font-weight-base);
    width: 600px;
    
}

.banner .banner-content .btn-primary {
    padding: 15px 67px;
}

.banner .banner-img {
    position: absolute;
    left: 681px;
    top: 280px;
    margin: 0;
}
