.features-cards {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: max-content;
}

.feature-card {
    width: 318.63px;
    height: 290px;
    background-color: var(--secondary-color);
    position: relative;
}

.features-cards .feature-card:nth-child(2) {
    margin-top: 40px;
}

.features-cards .feature-card:nth-child(3) {
    margin-top: 80px;
}

.feature-card .feature-card-header {
    display: flex;
    background-color: var(--background-tertiary);
}

.feature-card .feature-card-header .feature-card-header-title {
    font-size: var(--font-size-text-xl);
    font-weight: var(--font-weight-light);
    line-height: var( --line-height-sm);
    width: 159px;
    padding: 10px 0;
    margin: 0;
    position: absolute;
    top: 20px;
    left: 139px;
}

.feature-card .feature-card-body {
    position: relative;
}

.feature-card .feature-card-body .feature-card-body-content {
    font-size: var(--font-size-text-md);
    font-weight: var(--font-weight-base);
    line-height: var(--line-height-sm);
    width: 238.97px;
    margin: 0;
    position: absolute;
    top: 40px;
    left: 40px;
}

.feature-card .feature-card-body .card-decoration {
    position: absolute;
    top: 150px;
    left: 299px;
}



