.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.brand .brand {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.brand .title-logo {
    position: absolute;
    font-size: var(--font-size-text-xl);
    font-weight: var(--font-weight-base);
    line-height: var(--line-height-sm);
    color: var(--primary-color);
    display:inline;
    left: 40px;
    top: 10px;
    margin: 0;
    padding: 0 23px;
    
}

.menu {
    display: flex;
    align-items: center ;
    justify-content: space-between;
}

.menu .menu-item {
    color: var(--color-text-default);
    font-size: var(--font-size-text-sm);
    font-weight: var(--font-weight-light);
    line-height: var(--line-height-base);
    padding: 16px 17px ;
    margin: 20px;
}

.menu .menu-item-header:nth-child(1) .menu-item {
    color: var(--primary-color);
}

.menu .btn-default {
    text-transform: uppercase;
}
