.our-story {
    margin-top: 52px;
    display: flex;
    justify-content: space-between;
}

.story {
    position: relative;
}

.story .introduce {
    display: flex;
    align-items: center;
}

.story .introduce .story-title {
    color: var(--color-text-secondary);
    font-size: var(--font-size-text-xl);
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-md);
    margin: 0;
    padding-left: 20px;
    width: 420px;
    display: block;
}

.story .story-content {
    position: absolute;
    left: 70px;
    top: 62px;
    line-height: var(--line-height-sm);
    font-size: var(--font-size-text-md);
    margin: 0;
    color: var(--color-text-default);
    width: 420px;
}

.story .story-content .underline-text {
    text-decoration: underline;
    display: inline;
}
