.white-love {
    margin-top: 120px;
    width: 1440px;
    height: 450px;
    background-color: var(--primary-color);
    position: relative;
    margin-left: -160px;
}

.heading-white-love {
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-lg);
    font-size: var(--font-size-heading-md);
    color: var(--secondary-color);
    width: 1120px;
    position: absolute;
    top: 80px;
    left: 160px;
    margin: 0;
    text-transform: uppercase;
}

.heading-white-love::after {
    content: "";
    display: block;
    border-bottom: 2px solid var(--secondary-color);
    width: 79.66px;
    margin-top: 10px;
    position: absolute;
    left: -40px;

}

.recoment {
    color: var(--secondary-color);
    margin: 0;
    font-size: var(--font-size-text-xl);
    line-height: var(--line-height-md);
    width: 602px;
    padding: 17px 0;
    position: absolute;
    top: 190px;
    left: 160px;
}

.img-background {
    position: absolute;
    top: 20px;
    right: 1px;
    margin: 0;
}

.btn-secondary {
    position: absolute;
    bottom: 80px;
    left: 160px;
    text-transform: uppercase;
}
