.btn {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-base);
}

.btn-default {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-base);
    border: 1px solid var(--border-color-primary);
    box-shadow: 0px 10px 40px rgba(25, 104, 252, 0);
    color: var(--color-text-btn-secondary);
    background-color: var(--background-primary);
    font-weight: var(--font-weight-bold);
    padding: 15px 22px;
}

.btn-primary {
    border: 1px solid var(--color-primary);
    box-shadow: 0px 10px 40px;
    color: var(--color-text-btn-base);
    background-color: var(--background-primary);
    padding: 14px 55px;
}

.btn-secondary {
    border: 1px solid var(--color-secondary);
    box-shadow: 4px 4px 20px;
    color: var(--color-text-btn-primary);
    background-color: var(--background-secondary);
    font-weight: var(--font-weight-semibold);
    padding: 14px 64px;
}
