.btn-1 {
    font-size: var(--fs-x);
    line-height: var(--lh-x);
    border: 1px solid #1968fc;
    box-shadow: 0px 10px 40px;
    color: var(--white);
    background-color: var(--blue);
    width: 180px;
    height: 50px;
    font-weight: var(--fw-medium);
}

.btn-2 {
    font-size: var(--fs-x);
    line-height: var(--lh-x);
    border: 1px solid #1968fc;
    box-shadow: 0px 10px 40px;
    color: var(--white);
    background-color: var(--blue);
    width: 300px;
    height: 50px;
}

.btn-3 {
    font-size: var(--fs-x);
    line-height: var(--lh-x);
    border: 1px solid #ffffff;
    box-shadow: 4px 4px 20px;
    color: var(--blue);
    background-color: var(--white);
    width: 320px;
    height: 50px;
}