.heading {
    color: var(--blue);
    font-size: var(--font-size-3x);
    line-height: var(--line-height-lg);
    display: inline block;

}

.heading .heading-title {
    color: var(--blue-100);
    line-height: var(--line-height-base);
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-sm);
}