.straight {
    background-color: var(--blue);
    width: 80px;
    height: 2px;
    position: absolute;
    left: 120px;
}

.straight-primary {
    background-color: var(--white);
    width: 80px;
    height: 2px;
    position: absolute;
    left: 120px;
}