body{
    margin: 0;
}

.grid {
    display: block;
    width: 100%;
    padding: 0;
}

.grid.wide {
    max-width: 1200px;
    margin: 0 auto;
}


.container {
    background-color: orange;
    text-align: center;
}

.heading {
    padding: 100px 0;
    font-size: 100px;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
}

/* Tablet - PC low resolution */
@media (min-width: 740px) and (max-width: 1023px) {
    .wide {
        width: 644px;
    }
}

/* PC low resolution */
@media (min-width: 1024px) and (max-width: 1239px) {
    .wide {
        width: 984px;
    }
}