.about-us {
    display: grid;
    row-gap: 40px;
}

.about-us .about-us-card {
    display: flex;
    background-color: var(--secondary-color);
}

.about-us .about-us-card .about-us-content {
    line-height: var(--line-height-md);
    font-size: var(--font-size-heading-sm);
    font-weight: var(--font-weight-semibold);
    display: block;
    margin-left: 20px;
}

@media screen and (min-width: 768px) {
    .about-us {
        margin: auto;
    }
}

@media screen and (min-width: 1200px) {
    .about-us {
        grid-template-columns: 50% 50%;
        column-gap: 20px;
        margin: 0;
    }
}
