.features-cards {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.feature-card {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: var(--secondary-color);
    position: relative;
}

.feature-card:nth-child(1):after {
    content: "";
    position: absolute;
    left: 50px;
    top: 100%;
    height: 60px;
    border: 1px dashed var(--primary-color);
}

.feature-card:nth-child(2):after {
    content: "";
    position: absolute;
    left: 50px;
    top: 100%;
    height: 60px;
    border: 1px dashed var(--primary-color);
}


.feature-card .feature-card-header {
    display: flex;
    background-color: var(--background-tertiary);
    position: relative;
}


.feature-card .feature-card-header-icon {
    width: 80px;
    height: 80px;
}

.feature-card-header .feature-card-header-title {
    font-size: var(--font-size-text-xl);
    font-weight: var(--font-weight-light);
    line-height: var( --line-height-sm);
    display: block;
    margin-left: 20px;
}

.feature-card-body {
    position: relative;
}

.feature-card .feature-card-body .feature-card-body-content {
    font-size: var(--font-size-text-md);
    font-weight: var(--font-weight-base);
    line-height: var(--line-height-sm); 
    display: block;
    margin-left: 40px;
    margin-right: 40px;
}

.feature-card .feature-card-body .card-decoration {
    position: absolute;
    right: -7px;
    bottom: -10px;
}


@media screen and (min-width: 1200px)  {
    .features-cards {
        flex-direction: row;
        gap: 20px;
        justify-content: space-between;
    }
    
    .feature-card {
        width: 318px;
        height: 290px;
        margin: 0;
    }

    .feature-card:nth-child(2) {
        margin-top: 40px;
    }

    .feature-card:nth-child(3) {
        margin-top: 80px;
    }

    .feature-card .feature-card-header-icon {
        width: 120px;
        height: 120px;
    }

    .feature-card:nth-child(1):after {
        display: none;
    }

    .feature-card:nth-child(2):after {
        display: none;
    }

    .feature-card .feature-card-body .feature-card-body-content {
        width: 239px;
    }

    .feature-card .feature-card-body .card-decoration {
        position: absolute;
        right: -7px;
        top: 122px;
    }
}
