.footer {
    margin-top: 61px;
    background-color: var(--background-quaternary);
    position: relative;
}

.logo-footer {
    display: flex;
    padding-top: 40px;
}

.logo-footer .logo-footer-title {
    font-size: var(--font-size-text-sm);
    color: var(--primary-color);
    line-height: var(--line-height-base);
    font-weight: var(--font-weight-light);
    margin-left: 25px;
}

.assets-footer .icon-fb {
    position: absolute;
    right: 110px;
    top: 55px;
}

.assets-footer .icon-insta {
    position: absolute;
    top: 55px;
    right: 73px;
}

.assets-footer .logo-vincent {
    position: absolute;
    width: 55px;
    height: 60px;
    bottom: 0;
    right: 40px;
}

.menu-footer {
    list-style: none;
    display: flex;
    padding: 40px;
    padding-left: 0;
}

.menu-footer .menu-footer-content {
    padding: 25px 17px;
    line-height: var(--line-height-base);
    font-weight: var(--font-weight-light);
}

@media screen and (min-width: 768px) {
    .menu-footer {
        justify-content: space-between;
        padding: 40px auto;
    }
}

@media screen and (min-width: 1200px) {
    .footer .container {
        display: flex;
        gap: 40px;
    }

    .menu-footer {
        padding: 50px 20px;
    }

    .menu-footer .menu-footer-content {
        padding: 25px 24px;
    }

    .logo-footer {
        padding-bottom: 30px;
    }

    .assets-footer .icon-fb {
        position: static;
        margin-top: 50px;
    }

    .assets-footer .icon-insta {
        position: static;
        margin-top: 50px;
        margin-left: 10px;
    }

    .assets-footer .logo-vincent {
        width: 90px;
        height: 100px;
        left: 86%;
        right: 11.11%;
        top: 23.08%;
        bottom: 0%;
    }
}
