.work-cards {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.work-card {
    background-color: var(--secondary-color);
    position: relative;
    /* margin-top: -50px; */
}

.work-card:nth-child(1)::after {
    content: "";
    position: absolute;
    left: 50px;
    height: 60px;
    border: 1px dashed var(--primary-color);
}

.work-card:nth-child(2)::after {
    content: "";
    position: absolute;
    left: 50px;
    height: 60px;
    border: 1px dashed var(--primary-color);
}

.work-card .card-top {
    display: flex;
    justify-content: space-between;
}

.card-top .step {
    color: var(--color-text-primary);
    font-size: var(--font-size-text-base);
    line-height: var(--line-height-base);
    font-weight: var(--font-weight-bold);
    display: block;
    margin-top: 40px;
    margin-left: 40px;
}

.card-top .title {
    font-weight: var(--font-weight-bold);
    color: var(--primary-color);
    font-size: var(--font-size-text-lg);
    display: block;
    margin-left: 40px;
    margin-top: 10px;
}

.card-top .card-icon {
    margin-top: 40px;
    margin-right: 40px;
}

.card-bottom {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.card-bottom .content {
    font-size: var(--font-size-text-md);
    line-height: var(--line-height-sm);
    font-weight: var(--font-weight-base);
    display: block;
    margin-left: 40px;
    margin-bottom: 40px;
    margin-top: 0px;
}

.card-bottom .card-decoration {
    position: absolute;
    right: -7px;
    top: 50px;
}

@media screen and (min-width: 768px) {
    .work-card {
        margin: auto;
    }
    .card-bottom .content {
        width: 440px;
    }
}

@media screen and (min-width: 1200px) {
    .work-cards {
        flex-direction: row;
        justify-content: space-between;
        gap: 5px;
    }

    .work-card {
        width: 318px;
        height: 220px;
        display: block;
        margin: 0;
    }
    
    .work-card:nth-child(2) {
        margin-top: 40px;
    }

    .work-card:nth-child(3) {
        margin-top: 80px;
    }


    .card-bottom .content {
        width: 239px;
    }    

    .work-card:nth-child(1)::after {
        height: 0;
        width: 75px;
        top: 50%;
        left: 100%;
    }

    .work-card:nth-child(2)::after {
        height: 0;
        width: 75px;
        top: 50%;
        left: 100%;
    }

    .card-bottom .card-decoration {
        top: 92px;
    }
}   