@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,500;1,400&display=swap');

.container {
    padding: 30px 160px;
    font-family: 'Mulish', sans-serif;
    width: 1120px;
    height: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo {
    display: flex;
    position: relative;
}
nav .logo a {
    padding-left: 10px;
    text-decoration: none;
    color: #1968fc;
    width: 100px;
    height: 30px;
    position: absolute;
    left: 50px;
    top: 15px;
}

nav .menu {
    list-style: none;
    display: flex;
    position: relative;
    align-items: center;
}
.menu .item {
    margin: 0 20px;
    align-items: center;
}

.menu .item a{
    text-decoration: none;
    color: black;
    height: 50px;
    
}